body{
  background-color: gray;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  clear: both;
  margin-bottom: 100px;
  min-height: 400px;
  
}


#navigation{
  background-color: cadetblue;
  display: flex;
  
}

.nav-list{
 list-style-type: none;
 margin: 0;
 padding: 0 ;
 display: flex;
 
 
}

.nav-item a{
  margin: 1em;
  display: block;
  color : #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.nav-item a:hover {
  color: aliceblue;
  background-color: burlywood;
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  position: fixed;
}

.wilds {
  display: flex;
  float: right;
  justify-content: center;
}
.wilds img {
  height: 250px;
  margin: 50px;
  width: 50%;
}
