body{
  background-color: gray;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  clear: both;
  margin-bottom: 100px;
  min
}


.navigation{
  background-color: cadetblue;
  display: flex;
  

.nav-list{
 list-style-type: none;
 margin: 0px;
 padding: 0 ;
 display: flex;
}

.nav-item {
  margin: 1em;
  display: block;
  color #111;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.nav-item a:hover {
  color: aliceblue;
  background-color: burlywood;
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  position: fixed;
}
body{
  background-color: gray;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  clear: both;
  margin-bottom: 100px;
  min
}


.navigation{
  background-color: cadetblue;
  display: flex;
  

.nav-list{
 list-style-type: none;
 margin: 0px;
 padding: 5px;
 display: flex;
}

.nav-item {
  margin: 1em;
  display: block;
  color #111;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.nav-item a:hover {
  color: aliceblue;
  background-color: burlywood;
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  position: fixed;
}
.wilds {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}
.wilds img {
  height: 250px;
  margin: 50px;
  width: 100px;
}
body{
  background-color: gray;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  clear: both;
  margin-bottom: 100px;
  min
}


.navigation{
  background-color: cadetblue;
  display: flex;
  

.nav-list{
 list-style-type: none;
 margin: 0px;
 padding: 0 ;
 display: flex;
}

.nav-item {
  margin: 1em;
  display: block;
  color #111;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.nav-item a:hover {
  color: aliceblue;
  background-color: burlywood;
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  position: fixed;
}
