body{
  background-color: gray;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  clear: both;
  margin-bottom: 100px;
  
}


 .navigation{
  background-color: cadetblue;
  display: flex;
  text-align: center;
}

.nav-list{
 list-style-type: none;
 margin: 0px;
 padding: 0 ;
 display: flex;
 text-align: center;
 float: right;
}

.nav-item {
  margin: 1em;
  display: block;
  color #111;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  width: 50px;
}

.nav-item a:hover {
  color: aliceblue;
  background-color: burlywood;
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  position: fixed;
}

img {
  width: 50%;
}
